main {
    background-color: #f4f2f2;
    background-image: url('/img/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    position: relative;
}